*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5% ;
   --font-roboto: 'Roboto', sans-serif;
}

body {
    overflow: hidden;
}


.navigation{
    display: flex;
    justify-content: flex-start;
    gap: 3.0rem;
    
    margin-top: 4rem;
    margin-left: 4rem;
    align-items: center;
    list-style: none;
}

.navigation a {
    text-decoration: none;
    font-family: var(--font-roboto);
    font-size: 2.4rem;
    color: rgba(141, 141, 153, 1);
}

a:hover{
    color: rgb(240, 240, 243);
}